body{
    font-family: Arial, sans-serif;
     background: #1c1c1c;
    margin: 0;
    padding: 20px;
}
h1{
    color:white;
    text-align: center;
}
h1:hover{
    transform: translateY(-5px);
    transition: all 0.3 ease-in-out;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}
.product-card{
    background: hsla(0, 0%, 0%, 0.412);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    color: rgb(255, 255, 255);
}

.product-card p{
    color: rgba(255, 255, 255, 0.74);
}

.product-card:hover{
    box-shadow: 0 4px 20px hsla(0, 0%, 91%, 0.2);
    transform: translateY(-5px);
    transition: all 0.3 ease-in-out;
}
img{
    max-width: 150px;
    height: auto;
}
.price{
    font-size: 1rem;
    font-weight: bold;
    color: green;
}